@font-face {
    font-family: 'Dosis';
    src: url(assets/Dosis/Dosis-VariableFont_wght.ttf) format('woff2');
}

html {
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}

body {
    padding: 1em 1em;
    font-family: Dosis;
    font-size: 16px;
    container-type: inline-size;
    container-name: bodysite;
}

p {
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav a {
    color: #095771;
}

header .site-name {
    font-weight: 700;
}

a {
    color: #203cd8;
}

header {
    width: 100%;
}

@container bodysite (min-width: 700px) {
    header {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .site-name {
        display: inline-block;
    }
    header nav {
        display: inline-block;
    }
  }


  @container bodysite (max-width: 700px) {
    
    .site-name {
        text-align: center;
    }
    header nav ul {
        width: 100%;
        justify-content: center !important
    }
    .index main, footer {
        text-align: center;
    }
  }

header nav ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: flex;
    align-items: stretch;
    margin: 2px;
}

header nav ul li a {
    width: 100%;
    height: 100%;
    padding: 0.5em 1em;
}

header nav ul li:hover {
    background-color: #075d7949;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.icon {
    height: 2em;
    vertical-align: middle;
}

img.decorative {
    border-radius: 15px;
    max-width: 90vw;;
    box-shadow:  10px 10px 30px #bebebe,
                -10px -10px 30px #ffffff;
}

footer {
    font-size: 0.8em;
}